/.cache/
/note/
/worktree/
/ToDo
CLAUDE.md
.cpcache/
.lein-failures
.clj-kondo/
.lsp/
META-INF/
/release-*
/*.clj
/*.json
/*.md
/*.txt
/*.yaml
/*.ys
/out*

target/
classes/
checkouts/
pom.xml
pom.xml.asc
*.bak
*.jar
*.class
/.lein-*
/.nrepl-port
*.sw[op]

/*-repo/
/*-x64/
