/.cache/
/note/
CLAUDE.md
.cpcache/
.lein-failures
.clj-kondo/
.lsp/
META-INF/
/*.clj
/*.json
/*.yaml
/*.ys

target/
classes/
checkouts/
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
*.sw[op]

/yamlscript-repo/

