{"52DL" :rejected-valid
 "565N" :rejected-valid
 "5TYM" :rejected-valid
 "6CK3" :rejected-valid
 "6WLZ" :rejected-valid
 "7FWL" :rejected-valid
 "8MK2" :rejected-valid
 "9MQT/01" :rejected-valid
 "9WXW" :rejected-valid
 "C4HZ" :mismatch
 "CC74" :rejected-valid
 "CUP7" :rejected-valid
 "DK95/01" :rejected-valid
 "DK95/06" :rejected-valid
 "M5C3" :rejected-valid
 "P76L" :rejected-valid
 "S4JQ" :rejected-valid
 "UGM3" :mismatch
 "Z67P" :rejected-valid
 "Z9M4" :rejected-valid}
